{
  "extends": "airbnb",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "strict": [0, "global"],
    "no-plusplus": "off",
    "no-use-before-define": "off",
    "react/jsx-filename-extension": "off",
    "no-unused-expressions": "off",
    "max-len": ["error", { "code": 120 }]
  }
}
